configuration {
	theme:				"~/.config/rofi/themes/gruvbox-dark-solid-modified.rasi";
	font:				"Iosevka Term 14";
	combi-modi:			"drun,window,run";
	width:				30;
	eh:					1;
	bw:					3;
	lines:				10;
	sidebar-mode:		false;
	location:			0;
	icon-theme:			"Papirus-Dark";
	show-icons:			false;
	separator-style:	none;
}
